.game {
    width: 600px;
	height: 600px;
	margin: 0 auto;
    background-color: #13db77;
    color: rgb(231, 201, 201);
    border: 6px solid #366ca1;
    border-radius: 10px;
	display: grid;
	grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.game > div {
  border: 6px solid #80b3e6;
  border-radius: 2px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
} 
